{
 "Parameters":{
       "Path":{
          "Description":"AWS Path",
          "Default":"/",
          "Type":"String"
       }
     },

 "Resources":{
         "sslSecurityGroupIngress" : {
         	"Type": "AWS::EC2::SecurityGroupIngress",
         	"Properties":
             	{
             	"GroupName": {"Ref" : "AWSEBSecurityGroup"},
             	"IpProtocol": "tcp",
             	"ToPort": "443",
             	"FromPort": "443",
             	"CidrIp": "0.0.0.0/0"
            	 }
 	}
 },

 "option_settings": [
        {
        "option_name" : "/ng",
        "namespace" : "aws:elasticbeanstalk:container:nodejs:staticfiles",
        "value" : "/public/ng"
        },
        {
        "option_name" : "/doc/api",
        "namespace" : "aws:elasticbeanstalk:container:nodejs:staticfiles",
        "value" : "/public/docs/apidoc"
        },
        {
        "option_name" : "/doc/ng",
        "namespace" : "aws:elasticbeanstalk:container:nodejs:staticfiles",
        "value" : "/public/docs/ngdoc"
        },
        {
        "option_name" : "/fonts",
        "namespace" : "aws:elasticbeanstalk:container:nodejs:staticfiles",
        "value" : "/public/ng/fonts"
        },
        {
        "option_name" : "NODE_ENV",
        "value" : "aws"
        },
         {
         "option_name" : "NodeCommand",
         "namespace" : "aws:elasticbeanstalk:container:nodejs",
         "value" : "npm start"
         },
         {
         "option_name": "LoadBalancerHTTPPort",
         "namespace": "aws:elb:loadbalancer",
         "value": "80"
         },
         {
         "option_name": "LoadBalancerPortProtocol",
         "namespace": "aws:elb:loadbalancer",
         "value": "HTTP"
         },
         {
         "option_name": "LoadBalancerHTTPSPort",
         "namespace": "aws:elb:loadbalancer",
         "value": "443"
         },
         {
         "option_name": "LoadBalancerSSLPortProtocol",
         "namespace": "aws:elb:loadbalancer",
         "value": "HTTPS"
         },
         {
         "option_name": "SSLCertificateId",
         "namespace": "aws:elb:loadbalancer",
         "value": {
                 "Fn::Join":[
                     "",
                     [
                       "arn:aws:iam::",
                       {
                          "Ref":"AWS::AccountId"
                       },
                       ":server-certificate",
                       {
                          "Ref":"Path"
                       },
                       "AgBaseCert"
                    ]
                 ]
             }
         }
         ]
 }
